
html, body {
  font-family:'Libre Franklin', sans-serif;
  background-color: #a6a6a6;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family:'Libre Franklin', sans-serif;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


.headerone {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 90px;
  text-align: center;
  margin: 0;
  padding:20px;
}
.headertwo {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 0;
  font-weight:300%;
}
.headerthree {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 60px;
  text-align: center;
  padding:-90px;
  margin:0;
}

.introcontainer{
 max-width: 100% ;
 margin-left: auto ;
 margin-right: auto ;
}

.introimg {
  float: left;
  border-radius: 50%;
  padding:20px 90px;
  display: inline-block;
  margin: 25px 25px;
}

.introp {
  float: inline block;
  font-family: 'Julius Sans One', sans-serif;
  padding:130px 90px;
  font-size: 40px;
  color:#e6e6e6;
}
.links{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 50px 2px;
  float:center;
}
  
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 50px 2px;
  float:center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  float:center;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  float:center;
}

.fa-instagram {
  background: #125688;
  color: white;
  float:center;
}

@media only screen and (min-width:150px) and (max-width: 600px){
    html, body {
      width:100%;
      }
   .navbar {
      font-size:35px;
      }
   .headerone {
     fontsize:60px;
      }
   .headertwo {
     font-size:40px;
     }
   .headerthree {
     font-size:40px; 
     }

  .introimg {
  float: center;
  width:30%;
  height: auto;
  padding:15px 10px;
}
   .introp {
    font-size:40px;
    float:center;
    padding:15px 10px;
    text-align:left;
    color:#e6e6e6;
    }
  .fa {
  margin: 55px 3px;
  float:center;
  align-items:center;
  
}
